.App {
  text-align: center;
  background:rgba(62, 62, 102, 0.68);
}

.AppTitle {
  font-family: 'Bigelow Rules', cursive;
  margin-top:0;
  font-size:86px; 
  color: green;
}

.InputStyle {
  -webkit-appearance: none; 
  padding:10px 10px;
  line-height:40%;
  width:150px; 
  margin-bottom: 20px;
  font-size:15px; 
 

}





